body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
} 

#writing {
    width: 45vw;
    height: 100vh;
    float: right;
    padding-top: 0.5%;
    background-color: black;
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    margin: 0rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

#exit > .image {
    width:  2.5vw;
    height: 5vh;
    object-fit: cover;
    float: right;
}

#image-track > .image {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    object-position: 0% 50%;
    padding-top: 0.5%;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: whitesmoke black;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 20px;
    border: 3px solid whitesmoke;
  }  